* {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

body {
	/*background: #2978A0;*/
	background: #253031;
}

/*this provides a wrapper that
we can use to keep things centered
on the page*/

.container{
	width: 1160px;
	margin: 0 auto;
}

section#header-image {
	height: 250px;
	background: url('../img/brooklyn-bridge.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

section#profile-picture{
	width: 230px;
	margin: 0 auto;
	background: #fff;
	z-index: 100;
	position: relative;
	top: -100px;
	padding: 60px 10px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,.2);
}

section#profile-picture img {
	display: block;
	margin: 0 auto;
	border-radius: 150px;
	height: 100px;
}

section#profile-picture h1{
	font-size: 22px;
	text-align: center;
	margin: 15px 0;
}

.deets ul{
	width: 145px;
	margin: 0 auto;
}

.deets li{
	font-size: 12px;
	list-style: none;
	padding-bottom: 10px;
	text-align: center;
	color: rgba(0,0,0, .7);
}


section#main-content {
	position: relative;
	top: -25px;
}



h1, h2, h3, h4, h5 {
	font-family: 'Lato', sans-serif;
}

.strip {
	padding: 100px 50px;
}

section#my-neighborhood{
	height: 500px;
	background-color: #253031; /* danielle */
}

#nabe-pic {
	float: left;
	height: 400px
}

#my-neighborhood #nabe-description {
	color: #fff;
	font-weight: normal;
	float: left;
	width: 430px;
	margin-left: 70px;
}

#my-neighborhood #nabe-description h1, h2, h3{
	margin-bottom: 10px;
}

section#my-neighborhood video {
	border-radius: 500px;
}

section#my-neighborhood table {
	border-collapse: collapse;
	width: 600px;
	float: right;
}

section#my-neighborhood table tr td {
	padding: 10px;
	text-align: center;
	background-color: #efefef; /* danielle */
	font-weight: lighter;
	font-size: 15px;
	color: #58351a;
	border: 1px solid lightgray; /* danielle */
}

section#my-neighborhood table th {
	background-color: #2978A0; /* danielle */
	color: #fff;
	font-size: 20px;
	padding: 10px;
}

section#neighborhood-sights {
	background: #efefef; /* danielle */
	display: block;
	overflow: hidden;
}

#neighborhood-sights #sights-container {
	float: left;
    clear: right;
    margin-left: 150px;
}

#neighborhood-sights #sights-container ul{
	background: #fff;
    padding: 10px 80px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0, .2);
}

#neighborhood-sights #description {
	float: left;
}

#sights-container ul {
	list-style-type: none;
}

#sights-container ul li {
	padding: 15px;
}

#sights-container ul li a {
	text-decoration: none;
	color: darkgray;
	display: block;
	text-align: center;
}

section#neighborhood-sights .text {
	float: left;
	width: 500px;
}

section#neighborhood-sights . neighborhood-sights-pic {
	float: right;
}

section#neighborhood-sights .big-text {
	clear: right;
	font-style: italic;
}

section#neighborhood-sights .big-text h2 {
	text-align: center;
	font-weight: lighter;
}

span.rquote{
	font-family: Georgia, serif;
	font-size: 70px;
}

#favorite-books {
	margin: 50px;
}

#favorite-books h1{
	color: #fff;
}

#favorite-books table {
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0px;
}

#favorite-books th {
    background-color: #253031;
    color: white;
}

#favorite-books th, #favorite-books td {
    text-align: left;
    padding: 8px;
    color: #fff;
}

#favorite-books a {
	text-decoration: none;
	color: #fff;
}

#favorite-books tr {
    border-bottom: 0.5px solid #e3e3e3;
}

